jQuery(document).ready(function() {
  var tweetClick = function(ev) {
    ev.stopPropagation();
    ev.preventDefault();
    var el = jQuery(ev.currentTarget);
    var url = el.attr('href');
    window.open(url, 'twitterwindow', 'height=450, width=550, top='+(jQuery(window).height()/2 - 225) +', left='+jQuery(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  }
  var tweetButton = jQuery('<a href="https://twitter.com/share" class="twitter-share-button" target="_blank" data-via="<%=@twitter_handle || 'contentfocus'%>" data-related="contentfocus,getglu" data-count="none"></a>');
  jQuery('mark, blockquote:not(.notice, .alert, .error, .success, .twitter-tweet) p').not('.notice, .alert, .error, .success, .twitter-tweet').each(function() {
    var el = jQuery(this);
    var strippedEl = el.clone().children('cite').remove().end();
    var tweetText = strippedEl.text().trim().replace(/[\r\n ]+/g, " ").trim()
    var thisTweetButton = tweetButton.clone();
    var approximateTweet = tweetText + 'https://t.co/im-shortened via @' + thisTweetButton.data('via');
    if (approximateTweet.length > 140) {
      var excessLength = approximateTweet.length - 140;
      tweetText = tweetText.substr(0, (tweetText.length - excessLength - 4)) + '...';
    }
    thisTweetButton.attr('data-text', tweetText);
    var queryString = jQuery.param(thisTweetButton.data());
    var url = thisTweetButton.attr('href') + '?' + queryString;
    thisTweetButton.attr('href', url);
    thisTweetButton.click(tweetClick);
    if (el.children('cite').length > 0) {
      var cite = el.children('cite')[0];
      thisTweetButton.insertBefore(cite);
    } else {
      el.append(thisTweetButton);
      el.on('click', function() {
        thisTweetButton.click();
      });
    }
  });
  if (jQuery('#embedded-linkback-tweet').length > 0) {
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    twttr.widgets.load(
      document.getElementById("embedded-linkback-tweet")
    );
  }
});
